<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Application Credentials Demo</title>
  <style>
    html,
    body {
      height: 100%;
      margin: 0;
    }
  </style>

  <script>
    var currentTokenExpiration = new Date("{{tokenExpiration}}");
    var esriConfig = {
      apiKey: "{{accessToken}}",
    };
  </script>

  <!-- Load the ArcGIS Maps SDK for JavaScript from CDN -->
  <script type="module" src="https://js.arcgis.com/5.0/"></script>

</head>

<body>

  <calcite-shell>
    <calcite-panel heading="Application Credentials Demo" id="panel-start">
      <arcgis-map basemap="arcgis/navigation" center="-118.46651, 33.98621" zoom="13">
        <arcgis-zoom slot="top-left"></arcgis-zoom>
        <arcgis-search slot="top-right"></arcgis-search>
      </arcgis-map>
    </calcite-panel>
  </calcite-shell>

  <script type="module">
    const [
      config,
      FeatureLayer,
    ] = await $arcgis.import([
      "@arcgis/core/config.js",
      "@arcgis/core/layers/FeatureLayer.js",
    ]);

    const EXPIRATION_THRESHOLD = 5 * 60 * 1000; // in milliseconds (default is 5 minutes)
    const EXPIRATION_CHECK_INTERVAL = 1 * 60 * 1000; // in milliseconds (default is 1 minute)
    const BASEMAP_SESSION_DURATION = 12 * 60 * 60; // in seconds (default is 12 hours, set to 1 hour for testing purposes)
    // Function to refresh the token by calling the /token endpoint on our express server
    async function refreshToken() {
      try {
        const response = await fetch('/token', { method: 'POST' });
        if (response.ok) {
          const data = await response.json();
          config.apiKey = data.accessToken;
          currentTokenExpiration = new Date(data.tokenExpiration);
          console.log('Token refreshed successfully');
        }
      } catch (e) {
        console.error('Failed to refresh token', e);
      }
    }

    // Function to check if the token is expired or about to expire
    function isTokenExpired() {
      return new Date().getTime() > currentTokenExpiration.getTime() - EXPIRATION_THRESHOLD;
    }

    // Check and refresh token every minute
    setInterval(() => {
      if (isTokenExpired()) {
        refreshToken();
      } else {
        console.log('Token is still valid');
      }
    }, EXPIRATION_CHECK_INTERVAL);

    // Refresh token when the page becomes visible again
    document.addEventListener("visibilitychange", (event) => {
      if (document.visibilityState === "visible") {
        refreshToken(event);
      }
    });

    // Set up session-based credentials for basemap access this will auto-refresh the basemap session with the configured API key
    config.sessions = {
      basemap: {
        enabled: true,
        styleFamily: "arcgis", // basemap style family for the session, e.g. "arcgis" or "open"
        autoRefresh: true, // automatically get new token at end of duration
        duration: BASEMAP_SESSION_DURATION
      },
    };

    // Wait for the view to be ready and add our feature layer
    const viewElement = document.querySelector("arcgis-map");
    await viewElement.componentOnReady();

    const fuelStationsLayer = new FeatureLayer({
      portalItem: {
        id: "dec22f8a20234893b312bf6c131e13f1",
      },
    });
    
    viewElement.map.layers.add(fuelStationsLayer);
  </script>

</body>

</html>